{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <div class="page-header text-center mb-4">
        <h1 class="display-4 text-info">{{ character.id_character }}</h1>
    </div>

    <div class="text-center mb-4">
        {% if character.photo %}
        <img src="{{ character.photo.url }}" alt="{{ character.id_character }}" class="img-fluid rounded-circle" style="max-width: 250px;">
        {% else %}
        <img src="{% static 'images/default-avatar.png' %}" alt="Avatar par défaut" class="img-fluid rounded-circle" style="max-width: 250px;">
        {% endif %}
    </div>


    {% if messages %}
    <div class="alert alert-danger text-center mb-4 p-3 rounded">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card p-4 shadow-lg border-0 rounded-lg">
        <h3 class="text-center mb-3 font-weight-bold">Changer le lieu du personnage</h3>

        <form method="POST" class="post-form">
            {% csrf_token %}
            
            <div class="mb-4">
                <b>Lieu actuel : </b> <span class="text-muted">{{ character.lieu.id_equip }} - {{ character.lieu.type }}</span>
                <b>Etat actuel : </b> <span class="text-muted">{{ character.etat }}</span>
            </div>

            <div class="mb-4">
                <b>Changer le lieu : </b>
                <div class="form-group">
                    {{ form.as_p }}
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg px-5 py-3 rounded-pill">Valider le changement</button>
            </div>
        </form>

        <div class="text-center mt-4">
            <a href="{% url 'character_list' %}" class="btn btn-secondary btn-lg px-4 py-2 rounded-pill">Retour à la liste</a>
        </div>
    </div>

</div>
{% endblock %}
